{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<script>
    var schedule = [[], [], [], [], [], [], []];
    function fillSchedule() {
        for(i=0; i<schedule.length; i++) {
            var time_list = new Array();
            $.ajax({
                async: false,
                type: "GET",
                url: '{{=URL('default', 'get_schedule')}}',
                data: {num: i},
                success : function(result) {
                    var r = result.substring(1, result.length-1);
                    schedule[i] = r.split(', ');
                }
            });
            time_list = schedule[i];
            for(j=0; j<time_list.length; j++){
                if(time_list[j] == '') { break; }
                var t = parseInt(time_list[j]);
                var ampm = "AM";
                if(t > 1230) {
                    t -= 1200;
                    ampm = "PM"
                }
                if(t==1200 || t==1230) { ampm = "PM" }
                t = t.toString();
                var str;
                if(t.length==3){
                    str = [t.substring(0, 1), ':', t.substring(1, 3), ampm].join('');
                }else{
                    str = [t.substring(0, 2), ":", t.substring(2, 4), ampm].join('');
                }
                var tr = document.getElementById(str);
                var td = tr.cells[i];
                $(td).css({backgroundColor:'#123456'});
                td.style.color = "#E1F5FF";
               // td.style.fontWeight = "bold";
            }
        }
    }

    function matchSchedules(friend) {
      //  console.log(schedule);
        var time_list = new Array();
        var f_schedule = [[], [], [], [], [], [], []];
        var tds = document.getElementsByTagName("td");
        for(k=0; k<tds.length; k++){
            var td = tds[k];
            $(td).css({backgroundColor:'#E1F5FF'});
            td.style.color = "#000000";
        }
        for(i=0; i<f_schedule.length; i++) {
            $.ajax({
                async: false,
                type: "GET",
                url: '{{=URL('default', 'get_f_schedule')}}',
                data: {num: i, user_friend: friend},
                success : function(result) {
                    var r = result.substring(1, result.length-1);
                    f_schedule[i] = r.split(', ');
                }
            });
            var match = new Array();
            var my_day = schedule[i];
            var friend_day = f_schedule[i];
            //array intersect loop for my_day and friend_day
            for (var a = 0, n = my_day.length, b = 0, m = friend_day.length; (a < n) && (b < m); a++) {
                if (parseInt(my_day[a]) == parseInt(friend_day[b])){
                    match[match.length] = my_day[a];
                    b++;
                } else if (parseInt(my_day[a]) > parseInt(friend_day[b])) {
                    b++;
                    a--;
                }
            }
            time_list = match;
            for(j=0; j<time_list.length; j++){
                if(time_list[j] == '') { break; }
                var t = parseInt(time_list[j]);
                var ampm = "AM";
                if(t > 1230) {
                    t -= 1200;
                    ampm = "PM"
                }
                if(t==1200 || t==1230) { ampm = "PM" }
                t = t.toString();
                var str;
                if(t.length==3){
                    str = [t.substring(0, 1), ':', t.substring(1, 3), ampm].join('');
                }else{
                    str = [t.substring(0, 2), ":", t.substring(2, 4), ampm].join('');
                }
                var tr = document.getElementById(str);
                var td = tr.cells[i];
                $(td).css({backgroundColor:'#123456'});
                td.style.color = "#E1F5FF";
               // td.style.fontWeight = "bold";
            }
        }
    }
</script>

<style>
th, td {
    text-align: center;
}
#edit_button {
    text-align: left;
    padding-top: 4em;
}
#friend_list {
    float: right;
}
</style>

<body style="background-color:#E1F5FF" onload="fillSchedule()" id="sched">
<table style="float: left" width = "700px">
    <col width="100px"/>
    <col width="100px"/>
    <col width="100px"/>
    <col width="100px"/>
    <col width="100px"/>
    <col width="100px"/>
    <col width="100px"/>
	<h2>{{=user_fname}}'s schedule of availability</h2>
    <tr>
        <th><b>Monday</b></th>
        <th><b>Tuesday</b></th>
        <th><b>Wednesday</b></th>
        <th><b>Thursday</b></th>
        <th><b>Friday</b></th>
        <th><b>Saturday</b></th>
        <th><b>Sunday</b></th>
    </tr>
	<!--
    <tr>
        <td class='timecell'>12:00AM</td>
        <td class='timecell'>12:00AM</td>
        <td class='timecell'>12:00AM</td>
        <td class='timecell'>12:00AM</td>
        <td class='timecell'>12:00AM</td>
        <td class='timecell'>12:00AM</td>
        <td class='timecell'>12:00AM</td>
    </tr>
    <tr>
        <td class='timecell'>12:30AM</td>
        <td class='timecell'>12:30AM</td>
        <td class='timecell'>12:30AM</td>
        <td class='timecell'>12:30AM</td>
        <td class='timecell'>12:30AM</td>
        <td class='timecell'>12:30AM</td>
        <td class='timecell'>12:30AM</td>
    </tr>
    <tr>
        <td class='timecell'>1:00AM</td>
        <td class='timecell'>1:00AM</td>
        <td class='timecell'>1:00AM</td>
        <td class='timecell'>1:00AM</td>
        <td class='timecell'>1:00AM</td>
        <td class='timecell'>1:00AM</td>
        <td class='timecell'>1:00AM</td>
    </tr>
    <tr>
        <td class='timecell'>1:30AM</td>
        <td class='timecell'>1:30AM</td>
        <td class='timecell'>1:30AM</td>
        <td class='timecell'>1:30AM</td>
        <td class='timecell'>1:30AM</td>
        <td class='timecell'>1:30AM</td>
        <td class='timecell'>1:30AM</td>
    </tr>
    <tr>
        <td class='timecell'>2:00AM</td>
        <td class='timecell'>2:00AM</td>
        <td class='timecell'>2:00AM</td>
        <td class='timecell'>2:00AM</td>
        <td class='timecell'>2:00AM</td>
        <td class='timecell'>2:00AM</td>
        <td class='timecell'>2:00AM</td>
    </tr>
    <tr>
        <td class='timecell'>2:30AM</td>
        <td class='timecell'>2:30AM</td>
        <td class='timecell'>2:30AM</td>
        <td class='timecell'>2:30AM</td>
        <td class='timecell'>2:30AM</td>
        <td class='timecell'>2:30AM</td>
        <td class='timecell'>2:30AM</td>
    </tr>
    <tr>
        <td class='timecell'>3:00AM</td>
        <td class='timecell'>3:00AM</td>
        <td class='timecell'>3:00AM</td>
        <td class='timecell'>3:00AM</td>
        <td class='timecell'>3:00AM</td>
        <td class='timecell'>3:00AM</td>
        <td class='timecell'>3:00AM</td>
    </tr>
    <tr>
        <td class='timecell'>3:30AM</td>
        <td class='timecell'>3:30AM</td>
        <td class='timecell'>3:30AM</td>
        <td class='timecell'>3:30AM</td>
        <td class='timecell'>3:30AM</td>
        <td class='timecell'>3:30AM</td>
        <td class='timecell'>3:30AM</td>
    </tr>
    <tr>
        <td class='timecell'>4:00AM</td>
        <td class='timecell'>4:00AM</td>
        <td class='timecell'>4:00AM</td>
        <td class='timecell'>4:00AM</td>
        <td class='timecell'>4:00AM</td>
        <td class='timecell'>4:00AM</td>
        <td class='timecell'>4:00AM</td>
    </tr>
    <tr>
        <td class='timecell'>4:30AM</td>
        <td class='timecell'>4:30AM</td>
        <td class='timecell'>4:30AM</td>
        <td class='timecell'>4:30AM</td>
        <td class='timecell'>4:30AM</td>
        <td class='timecell'>4:30AM</td>
        <td class='timecell'>4:30AM</td>
    </tr>
    <tr>
        <td class='timecell'>5:00AM</td>
        <td class='timecell'>5:00AM</td>
        <td class='timecell'>5:00AM</td>
        <td class='timecell'>5:00AM</td>
        <td class='timecell'>5:00AM</td>
        <td class='timecell'>5:00AM</td>
        <td class='timecell'>5:00AM</td>
    </tr>
    <tr>
        <td class='timecell'>5:30AM</td>
        <td class='timecell'>5:30AM</td>
        <td class='timecell'>5:30AM</td>
        <td class='timecell'>5:30AM</td>
        <td class='timecell'>5:30AM</td>
        <td class='timecell'>5:30AM</td>
        <td class='timecell'>5:30AM</td>
    </tr>
    <tr>
        <td class='timecell'>6:00AM</td>
        <td class='timecell'>6:00AM</td>
        <td class='timecell'>6:00AM</td>
        <td class='timecell'>6:00AM</td>
        <td class='timecell'>6:00AM</td>
        <td class='timecell'>6:00AM</td>
        <td class='timecell'>6:00AM</td>
    </tr>
    <tr>
        <td class='timecell'>6:30AM</td>
        <td class='timecell'>6:30AM</td>
        <td class='timecell'>6:30AM</td>
        <td class='timecell'>6:30AM</td>
        <td class='timecell'>6:30AM</td>
        <td class='timecell'>6:30AM</td>
        <td class='timecell'>6:30AM</td>
    </tr>
    <tr>
        <td class='timecell'>7:00AM</td>
        <td class='timecell'>7:00AM</td>
        <td class='timecell'>7:00AM</td>
        <td class='timecell'>7:00AM</td>
        <td class='timecell'>7:00AM</td>
        <td class='timecell'>7:00AM</td>
        <td class='timecell'>7:00AM</td>
    </tr>
    <tr>
        <td class='timecell'>7:30AM</td>
        <td class='timecell'>7:30AM</td>
        <td class='timecell'>7:30AM</td>
        <td class='timecell'>7:30AM</td>
        <td class='timecell'>7:30AM</td>
        <td class='timecell'>7:30AM</td>
        <td class='timecell'>7:30AM</td>
    </tr>
	-->
    <tr id="8:00AM">
        <td class='timecell'>8:00AM</td>
        <td class='timecell'>8:00AM</td>
        <td class='timecell'>8:00AM</td>
        <td class='timecell'>8:00AM</td>
        <td class='timecell'>8:00AM</td>
        <td class='timecell'>8:00AM</td>
        <td class='timecell'>8:00AM</td>
    </tr>
    <tr id="8:30AM">
        <td class='timecell'>8:30AM</td>
        <td class='timecell'>8:30AM</td>
        <td class='timecell'>8:30AM</td>
        <td class='timecell'>8:30AM</td>
        <td class='timecell'>8:30AM</td>
        <td class='timecell'>8:30AM</td>
        <td class='timecell'>8:30AM</td>
    </tr>
    <tr id="9:00AM">
        <td class='timecell'>9:00AM</td>
        <td class='timecell'>9:00AM</td>
        <td class='timecell'>9:00AM</td>
        <td class='timecell'>9:00AM</td>
        <td class='timecell'>9:00AM</td>
        <td class='timecell'>9:00AM</td>
        <td class='timecell'>9:00AM</td>
    </tr>
    <tr id="9:30AM">
        <td class='timecell'>9:30AM</td>
        <td class='timecell'>9:30AM</td>
        <td class='timecell'>9:30AM</td>
        <td class='timecell'>9:30AM</td>
        <td class='timecell'>9:30AM</td>
        <td class='timecell'>9:30AM</td>
        <td class='timecell'>9:30AM</td>
    </tr>
    <tr id="10:00AM">
        <td class='timecell'>10:00AM</td>
        <td class='timecell'>10:00AM</td>
        <td class='timecell'>10:00AM</td>
        <td class='timecell'>10:00AM</td>
        <td class='timecell'>10:00AM</td>
        <td class='timecell'>10:00AM</td>
        <td class='timecell'>10:00AM</td>
    </tr>
    <tr id="10:30AM">
        <td class='timecell'>10:30AM</td>
        <td class='timecell'>10:30AM</td>
        <td class='timecell'>10:30AM</td>
        <td class='timecell'>10:30AM</td>
        <td class='timecell'>10:30AM</td>
        <td class='timecell'>10:30AM</td>
        <td class='timecell'>10:30AM</td>
    </tr>
    <tr id="11:00AM">
        <td class='timecell'>11:00AM</td>
        <td class='timecell'>11:00AM</td>
        <td class='timecell'>11:00AM</td>
        <td class='timecell'>11:00AM</td>
        <td class='timecell'>11:00AM</td>
        <td class='timecell'>11:00AM</td>
        <td class='timecell'>11:00AM</td>
    </tr>
    <tr id="11:30AM">
        <td class='timecell'>11:30AM</td>
        <td class='timecell'>11:30AM</td>
        <td class='timecell'>11:30AM</td>
        <td class='timecell'>11:30AM</td>
        <td class='timecell'>11:30AM</td>
        <td class='timecell'>11:30AM</td>
        <td class='timecell'>11:30AM</td>
    </tr>
    <tr id="12:00PM">
        <td class='timecell'>12:00PM</td>
        <td class='timecell'>12:00PM</td>
        <td class='timecell'>12:00PM</td>
        <td class='timecell'>12:00PM</td>
        <td class='timecell'>12:00PM</td>
        <td class='timecell'>12:00PM</td>
        <td class='timecell'>12:00PM</td>
    </tr>
    <tr id="12:30PM">
        <td class='timecell'>12:30PM</td>
        <td class='timecell'>12:30PM</td>
        <td class='timecell'>12:30PM</td>
        <td class='timecell'>12:30PM</td>
        <td class='timecell'>12:30PM</td>
        <td class='timecell'>12:30PM</td>
        <td class='timecell'>12:30PM</td>
    </tr>    
	<tr id="1:00PM">
        <td class='timecell'>1:00PM</td>
        <td class='timecell'>1:00PM</td>
        <td class='timecell'>1:00PM</td>
        <td class='timecell'>1:00PM</td>
        <td class='timecell'>1:00PM</td>
        <td class='timecell'>1:00PM</td>
        <td class='timecell'>1:00PM</td>
    </tr>
    <tr id="1:30PM">
        <td class='timecell'>1:30PM</td>
        <td class='timecell'>1:30PM</td>
        <td class='timecell'>1:30PM</td>
        <td class='timecell'>1:30PM</td>
        <td class='timecell'>1:30PM</td>
        <td class='timecell'>1:30PM</td>
        <td class='timecell'>1:30PM</td>
    </tr>    
	<tr id="2:00PM">
        <td class='timecell'>2:00PM</td>
        <td class='timecell'>2:00PM</td>
        <td class='timecell'>2:00PM</td>
        <td class='timecell'>2:00PM</td>
        <td class='timecell'>2:00PM</td>
        <td class='timecell'>2:00PM</td>
        <td class='timecell'>2:00PM</td>
    </tr>
    <tr id="2:30PM">
        <td class='timecell'>2:30PM</td>
        <td class='timecell'>2:30PM</td>
        <td class='timecell'>2:30PM</td>
        <td class='timecell'>2:30PM</td>
        <td class='timecell'>2:30PM</td>
        <td class='timecell'>2:30PM</td>
        <td class='timecell'>2:30PM</td>
    </tr>    
	<tr id="3:00PM">
        <td class='timecell'>3:00PM</td>
        <td class='timecell'>3:00PM</td>
        <td class='timecell'>3:00PM</td>
        <td class='timecell'>3:00PM</td>
        <td class='timecell'>3:00PM</td>
        <td class='timecell'>3:00PM</td>
        <td class='timecell'>3:00PM</td>
    </tr>
    <tr id="3:30PM">
        <td class='timecell'>3:30PM</td>
        <td class='timecell'>3:30PM</td>
        <td class='timecell'>3:30PM</td>
        <td class='timecell'>3:30PM</td>
        <td class='timecell'>3:30PM</td>
        <td class='timecell'>3:30PM</td>
        <td class='timecell'>3:30PM</td>
    </tr>    
	<tr id="4:00PM">
        <td class='timecell'>4:00PM</td>
        <td class='timecell'>4:00PM</td>
        <td class='timecell'>4:00PM</td>
        <td class='timecell'>4:00PM</td>
        <td class='timecell'>4:00PM</td>
        <td class='timecell'>4:00PM</td>
        <td class='timecell'>4:00PM</td>
    </tr>
    <tr id="4:30PM">
        <td class='timecell'>4:30PM</td>
        <td class='timecell'>4:30PM</td>
        <td class='timecell'>4:30PM</td>
        <td class='timecell'>4:30PM</td>
        <td class='timecell'>4:30PM</td>
        <td class='timecell'>4:30PM</td>
        <td class='timecell'>4:30PM</td>
    </tr>    
	<tr id="5:00PM">
        <td class='timecell'>5:00PM</td>
        <td class='timecell'>5:00PM</td>
        <td class='timecell'>5:00PM</td>
        <td class='timecell'>5:00PM</td>
        <td class='timecell'>5:00PM</td>
        <td class='timecell'>5:00PM</td>
        <td class='timecell'>5:00PM</td>
    </tr>
    <tr id="5:30PM">
        <td class='timecell'>5:30PM</td>
        <td class='timecell'>5:30PM</td>
        <td class='timecell'>5:30PM</td>
        <td class='timecell'>5:30PM</td>
        <td class='timecell'>5:30PM</td>
        <td class='timecell'>5:30PM</td>
        <td class='timecell'>5:30PM</td>
    </tr>    
	<tr id="6:00PM">
        <td class='timecell'>6:00PM</td>
        <td class='timecell'>6:00PM</td>
        <td class='timecell'>6:00PM</td>
        <td class='timecell'>6:00PM</td>
        <td class='timecell'>6:00PM</td>
        <td class='timecell'>6:00PM</td>
        <td class='timecell'>6:00PM</td>
    </tr>
    <tr id="6:30PM">
        <td class='timecell'>6:30PM</td>
        <td class='timecell'>6:30PM</td>
        <td class='timecell'>6:30PM</td>
        <td class='timecell'>6:30PM</td>
        <td class='timecell'>6:30PM</td>
        <td class='timecell'>6:30PM</td>
        <td class='timecell'>6:30PM</td>
    </tr>    
	<tr id="7:00PM">
        <td class='timecell'>7:00PM</td>
        <td class='timecell'>7:00PM</td>
        <td class='timecell'>7:00PM</td>
        <td class='timecell'>7:00PM</td>
        <td class='timecell'>7:00PM</td>
        <td class='timecell'>7:00PM</td>
        <td class='timecell'>7:00PM</td>
    </tr>
    <tr id="7:30PM">
        <td class='timecell'>7:30PM</td>
        <td class='timecell'>7:30PM</td>
        <td class='timecell'>7:30PM</td>
        <td class='timecell'>7:30PM</td>
        <td class='timecell'>7:30PM</td>
        <td class='timecell'>7:30PM</td>
        <td class='timecell'>7:30PM</td>
    </tr>    
	<tr id="8:00PM">
        <td class='timecell'>8:00PM</td>
        <td class='timecell'>8:00PM</td>
        <td class='timecell'>8:00PM</td>
        <td class='timecell'>8:00PM</td>
        <td class='timecell'>8:00PM</td>
        <td class='timecell'>8:00PM</td>
        <td class='timecell'>8:00PM</td>
    </tr>
    <tr id="8:30PM">
        <td class='timecell'>8:30PM</td>
        <td class='timecell'>8:30PM</td>
        <td class='timecell'>8:30PM</td>
        <td class='timecell'>8:30PM</td>
        <td class='timecell'>8:30PM</td>
        <td class='timecell'>8:30PM</td>
        <td class='timecell'>8:30PM</td>
    </tr>    
	<tr id="9:00PM">
        <td class='timecell'>9:00PM</td>
        <td class='timecell'>9:00PM</td>
        <td class='timecell'>9:00PM</td>
        <td class='timecell'>9:00PM</td>
        <td class='timecell'>9:00PM</td>
        <td class='timecell'>9:00PM</td>
        <td class='timecell'>9:00PM</td>
    </tr>
    <tr id="9:30PM">
        <td class='timecell'>9:30PM</td>
        <td class='timecell'>9:30PM</td>
        <td class='timecell'>9:30PM</td>
        <td class='timecell'>9:30PM</td>
        <td class='timecell'>9:30PM</td>
        <td class='timecell'>9:30PM</td>
        <td class='timecell'>9:30PM</td>
    </tr>    
	<tr id="10:00PM">
        <td class='timecell'>10:00PM</td>
        <td class='timecell'>10:00PM</td>
        <td class='timecell'>10:00PM</td>
        <td class='timecell'>10:00PM</td>
        <td class='timecell'>10:00PM</td>
        <td class='timecell'>10:00PM</td>
        <td class='timecell'>10:00PM</td>
    </tr>
    <tr id="10:30PM">
        <td class='timecell'>10:30PM</td>
        <td class='timecell'>10:30PM</td>
        <td class='timecell'>10:30PM</td>
        <td class='timecell'>10:30PM</td>
        <td class='timecell'>10:30PM</td>
        <td class='timecell'>10:30PM</td>
        <td class='timecell'>10:30PM</td>
    </tr>    
	<tr id="11:00PM">
        <td class='timecell'>11:00PM</td>
        <td class='timecell'>11:00PM</td>
        <td class='timecell'>11:00PM</td>
        <td class='timecell'>11:00PM</td>
        <td class='timecell'>11:00PM</td>
        <td class='timecell'>11:00PM</td>
        <td class='timecell'>11:00PM</td>
    </tr>
    <tr id="11:30PM">
        <td class='timecell'>11:30PM</td>
        <td class='timecell'>11:30PM</td>
        <td class='timecell'>11:30PM</td>
        <td class='timecell'>11:30PM</td>
        <td class='timecell'>11:30PM</td>
        <td class='timecell'>11:30PM</td>
        <td class='timecell'>11:30PM</td>
    </tr>
    <tr><td colspan="4" id="edit_button">{{=A('edit schedule', _class='btn btn-primary', _href=URL('edit_schedule'))}}</td></tr>
</table>
</body>

<div id="friend_list">
<table>
<h2>Friends List</h2>
  {{for friend in requests:}}
  <tr>
      <td style="float: left"><input type="checkbox" onclick="matchSchedules({{=friend.auth_user.id}})">&nbsp;&nbsp;&nbsp;{{=name_of(friend.auth_user)}}</input></td>
  </tr>
  {{pass}}
</table>
</div>
