<body style="background-color: #DFE3F5;">

{{extend 'layout.html'}}
<h2>Profile</h2>
{{=crud.read(db.auth_user, user)}}
<h2>Send a Message</h2>
{{=form}}
<h2>Inbox</h2>
{{for post in myInbox:}}
<div style="background-color: white; margin-bottom: 5px; padding: 8px; border-radius: 4px; border-bottom: 2px solid lightgray; border-left: 1px solid lightgray">
 <h4>To: {{=name_of(post.posted_to)}}</h4>
 <h4>From: {{=name_of(post.posted_by)}} <small> on {{=post.posted_on}}: </small></h4>
  {{=MARKMIN(post.body)}}
</div>
{{pass}}
<h2>Outbox</h2>
{{for post in posts:}}
<div style="background-color: white; margin-bottom: 5px; padding: 8px; border-radius: 4px; border-bottom: 2px solid lightgray; border-left: 1px solid lightgray">
 <h4>To: {{=name_of(post.posted_to)}}</h4>
 <h4>From: {{=name_of(post.posted_by)}} <small> on {{=post.posted_on}}: </small></h4>
  {{=MARKMIN(post.body)}}
</div>
{{pass}}
</body>
